.App {
  padding:2rem;
}

.user-form{
  display:flex;
  align-items: center;
}
.form-group{
  display:flex;
  flex-direction: column;
}
input{
  width:20vw;
}
input:focus{
  outline:none;
}

button{
  align-self: flex-end;
  margin-left:1rem;
  background: #5596F6;
  border:none;
  cursor: pointer;
  cursor:
}
.feeds{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 2rem;
  background-color: antiquewhite;
}
